<div class="page">
  <div class="page-main">
    <!--Navigation bar-->
    <app-navbar></app-navbar>
    <!--Nav Options Area-->
    <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
      <div class="container">
        <div class="row align-items-center">

          <div class="col-lg">
            <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
              <li class="nav-item">
                <a href="#" class="nav-link"><i class="fe fe-home"></i> Home</a>
              </li>
              <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link" data-toggle="modal" data-target="#create-post-modal"><i
                    class="fe fe-box"></i> Create Post</a>
              </li>
            </ul>
          </div>



        </div>
      </div>
    </div>

    <div class="my-3 my-mid-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-6">

            <!-- Post Selection Area-->
            <div class="row">
              <div class="col-12">


                <div class="card posts-list">
                  <div class="card-status card-status-left bg-purple"></div>
                  <div class="card-header">
                    <table class="table card-table">
                      <tr>
                        <td width="1" class="padding-overide"> <i class="fa fa-comments group-icon"></i></td>
                        <td>
                          <h3 class="card-title card-group-title">Posts
                          </h3>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="card-body cardbody-group o-auto">
                    <ul class="list-unstyled list-separated">
                      <li *ngFor="let post of current_posts; let i = index" id="post-option{{post.PostId}}"
                        (click)="onChangePost(post.PostId)" attr.data-postid="{{post.PostId}}"
                        class="list-separated-item postrow {{post.Active}} ">
                        <div class="row align-items-center">
                          <div class="col-auto">

                          </div>
                          <div class="col">
                            <div>
                              <a href="javascript:void(0)" class="text-inherit post-nav-heading">{{post.Title}}</a>
                            </div>
                            <small
                              class="d-block item-except text-sm text-muted h-1x">{{posts_navigation_subsection[i]}}
                            </small>
                          </div>
                          <div class="col-auto">
                            <div *ngIf="post.UserRole === 0" class="item-action dropdown">
                              <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i
                                  class="fe fe-more-vertical"></i></a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a name="editpost"  (click) = "onClickPostOptions($event, post.PostId, 'edit')" href="javascript:void(0)"
                                class="dropdown-item"><i class="dropdown-icon fe fe-edit-2"></i>Edit </a>
                                <div class="dropdown-divider"></div> 
                                <a attr.data-postid="{{post.PostId}}" (click) = "onClickPostOptions($event, post.PostId, 'delete')"  attr.data-discussionid="{{post.DiscussionID}}"
                                  href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-link"></i> Delete</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="list-separated-item"></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- Post Selection Area-->

            <!-- Member Area-->
            <div class="row">
              <div class="col-12">
                <div class="card members-list">
                  <div class="card-status card-status-left bg-purple"></div>
                  <div class="card-header">
                    <table class="table card-table">
                      <tr>
                        <td width="1" class="padding-overide"> <i class="fa fa-users group-icon"></i></td>
                        <td>
                          <h3 class="card-title card-group-title">Members
                          </h3>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="card-body o-auto">
                    <ul class="list-unstyled list-separated">
                      <li class="list-separated-item">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <span class="avatar avatar-md d-block"
                              style="background-image: url(https://tabler.github.io/tabler/demo/faces/female/1.jpg)"></span>
                          </div>
                          <div class="col">
                            <div>
                              <a href="javascript:void(0)" class="text-inherit member-nav-heading">Amanda Hunt</a>
                            </div>
                            <small class="d-block item-except text-sm text-muted h-1x">amanda_hunt@example.com</small>
                          </div>
                          <div class="col-auto">
                            <div class="item-action dropdown">
                              <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i
                                  class="fe fe-more-vertical"></i></a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-tag"></i> Action </a>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-edit-2"></i> Another action </a>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-link"></i> Separated link</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="list-separated-item">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <span class="avatar avatar-md d-block"
                              style="background-image: url(https://tabler.github.io/tabler/demo/faces/female/1.jpg)"></span>
                          </div>
                          <div class="col">
                            <div>
                              <a href="javascript:void(0)" class="text-inherit">Laura Weaver</a>
                            </div>
                            <small class="d-block item-except text-sm text-muted h-1x">lauraweaver@example.com</small>
                          </div>
                          <div class="col-auto">
                            <div class="item-action dropdown">
                              <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i
                                  class="fe fe-more-vertical"></i></a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-tag"></i> Action </a>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-edit-2"></i> Another action </a>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-link"></i> Separated link</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="list-separated-item">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <span class="avatar avatar-md d-block"
                              style="background-image: url(https://tabler.github.io/tabler/demo/faces/female/1.jpg)"></span>
                          </div>
                          <div class="col">
                            <div>
                              <a href="javascript:void(0)" class="text-inherit">Margaret Berry</a>
                            </div>
                            <small class="d-block item-except text-sm text-muted h-1x">margaret88@example.com</small>
                          </div>
                          <div class="col-auto">
                            <div class="item-action dropdown">
                              <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i
                                  class="fe fe-more-vertical"></i></a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-tag"></i> Action </a>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-edit-2"></i> Another action </a>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-link"></i> Separated link</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="list-separated-item">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <span class="avatar avatar-md d-block"
                              ></span>
                          </div>
                          <div class="col">
                            <div>
                              <a href="javascript:void(0)" class="text-inherit">Nancy Herrera</a>
                            </div>
                            <small class="d-block item-except text-sm text-muted h-1x">nancy_83@example.com</small>
                          </div>
                          <div class="col-auto">
                            <div class="item-action dropdown">
                              <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i
                                  class="fe fe-more-vertical"></i></a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-tag"></i> Action </a>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-edit-2"></i> Another action </a>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-link"></i> Separated link</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="list-separated-item">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <span class="avatar avatar-md d-block"
                             ></span>
                          </div>
                          <div class="col">
                            <div>
                              <a href="javascript:void(0)" class="text-inherit">Edward Larson</a>
                            </div>
                            <small class="d-block item-except text-sm text-muted h-1x">edward90@example.com</small>
                          </div>
                          <div class="col-auto">
                            <div class="item-action dropdown">
                              <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i
                                  class="fe fe-more-vertical"></i></a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-tag"></i> Action </a>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-edit-2"></i> Another action </a>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-link"></i> Separated link</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="list-separated-item">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <span class="avatar avatar-md d-block"
                             ></span>
                          </div>
                          <div class="col">
                            <div>
                              <a href="javascript:void(0)" class="text-inherit">Joan Hanson</a>
                            </div>
                            <small class="d-block item-except text-sm text-muted h-1x">joan.hanson@example.com</small>
                          </div>
                          <div class="col-auto">
                            <div class="item-action dropdown">
                              <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i
                                  class="fe fe-more-vertical"></i></a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-tag"></i> Action </a>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-edit-2"></i> Another action </a>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-link"></i> Separated link</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- Member Area End -->

          </div>
          <div class="col-lg-8 col-sm-6">
            <!-- Post Section -->
            <div class="row">
              <div class="col-12">
                <!-- Alert Area-->
                <div class="alert alert-success alert-dismissible {{alert_success_settings}}">
                  <button id="alert-success-creategroup" (click)="onAlertSuccessClose($event)" class="close"></button>
                  <i class="fe fe-check mr-2" aria-hidden="true"></i> {{alert_success_message}}
                </div>
                <!-- Alert Area End-->
                <div *ngFor="let post of current_posts">
                  <div *ngIf="post.PostId === current_postid" class="card">
                    <div class="card-status bg-blue"></div>
                    <div class="card-header">
                      <table class="table card-table">
                        <tr>
                          <td width="1" class="padding-overide"> <i class="fa fa-question-circle group-icon"></i></td>
                          <td>
                            <h3 class="card-title card-group-title">{{post.Title}}
                            </h3>
                          </td>
                        </tr>
                      </table>

                    </div>
                    <ul class="list-group card-list-group">
                      <li class="list-group-item py-5">
                        <div class="media">
                          <div class="media-object avatar avatar-md mr-4"
                            style="background-image: url(https://tabler.github.io/tabler/demo/faces/female/1.jpg)">
                          </div>
                          <div class="media-body">
                            <div class="media-heading">
                              <small class="float-right text-muted">{{post.DateCreated}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{post.TimeCreated}}</small>
                              <h5>{{post.FirstName}} {{post.LastName}}</h5>
                            </div>
                            <quill-editor class="ql-editor-settings" [style]="viewing_area_styles" [theme]="bubble"
                              [readOnly]="true" (onEditorCreated)="populateEditor($event,'apipost',post.ContentDelta)"
                              [modules]="viewing_area_config"></quill-editor>
                          </div>
                        </div>
                      </li>

                    </ul>
                    <div class="card-footer card-footer-group">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-1 col-lg-1 col-xl-1 offset-11">
                            <div class="item-action dropdown dropdown-right">
                              <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i
                                  class="fe fe-more-horizontal"></i></a>


                              <div class="dropdown-menu dropdown-menu-right">
                                <span id="editpost{{post.PostId}}" data-toggle="modal" class="hide-item"
                                  data-target="#edit-post-modal"></span>
                                <a name="editpost"  (click) = "onClickPostOptions($event, post.PostId, 'edit')" href="javascript:void(0)"
                                  class="dropdown-item"><i class="dropdown-icon fe fe-edit-2"></i>Edit </a>

                                <div class="dropdown-divider"></div>
                                <span id="deletepost{{post.PostId}}" data-toggle="modal" class="hide-item"
                                data-target="#delete-post-modal"></span>
                                <a name="deletegroup" (click) = "onClickPostOptions($event, post.PostId, 'delete')" href="javascript:void(0)" attr.data-discussionid=""
                                  class="dropdown-item"><i class="dropdown-icon fe fe-trash-2"></i> Delete</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
            <!-- Post Section End-->

            <!--Comment Section -->
            <div *ngFor="let comment of current_comments">
            <div *ngIf="comment.PostId === current_postid" class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-status bg-green"></div>
                  <div class="card-header">
                    <table class="table card-table">
                      <tr>
                        <td width="1" class="padding-overide"> <i class="fa fa-commenting group-icon"></i></td>
                        <td>
                          <h3 class="card-title card-group-title">Response</h3>
                        </td>
                      </tr>
                    </table>

                  </div>
                  <ul class="list-group card-list-group">
                    <li class="list-group-item py-5">
                      <div class="media">
                        <div class="media-object avatar avatar-md mr-4"
                          style="background-image: url(https://tabler.github.io/tabler/demo/faces/female/1.jpg)"></div>
                        <div class="media-body">
                          <div class="media-heading">
                            <small class="float-right text-muted">{{comment.DateCreated}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{comment.TimeCreated}}</small>
                            <h5>{{comment.FirstName}} {{comment.LastName}}</h5>
                          </div>
                          <quill-editor class="ql-editor-settings" [style]="viewing_area_styles" [theme]="bubble"
                          [readOnly]="true" (onEditorCreated)="populateEditor($event,'apipost',comment.ContentDelta)"
                          [modules]="viewing_area_config"></quill-editor>
                        </div>
                      </div>
                    </li>

                  </ul>
                  <div class="card-footer card-footer-group">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-1 col-lg-1 col-xl-1 offset-11">
                          <div class="item-action dropdown dropdown-right">
                            <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i
                                class="fe fe-more-horizontal"></i></a>


                            <div class="dropdown-menu dropdown-menu-right">
                            
                                <span id="editcomment{{comment.CommentId}}" data-toggle="modal" class="hide-item"
                                  data-target="#edit-comment-modal"></span>
                                <a name="editcomment"  (click) = "onClickCommentOptions($event, comment.CommentId, 'edit')" href="javascript:void(0)"
                                  class="dropdown-item"><i class="dropdown-icon fe fe-edit-2"></i>Edit </a>
                              <div class="dropdown-divider"></div>

        
                              <span id="deletecomment{{comment.CommentId}}"  data-toggle="modal" data-target="#delete-comment-modal"
                                class="hide-item"></span>
                              <a name="deletecomment"  (click) = "onClickCommentOptions($event, comment.CommentId, 'delete')" href="javascript:void(0)" 
                                class="dropdown-item"><i class="dropdown-icon fe fe-trash-2"></i> Delete</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        
            <!-- Comment Section End-->

            <!-- Comment Input Area-->
            <div class="row">
              <div class="col-12">
                <div id="commentinput-area" class="card {{comment_input_settings}}">
                    <div class="card-body">
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-12">

                              <quill-editor [style]="{height: 'auto'}"
                                (onContentChanged)="onUpdateCreateComment($event,'createcomment-content')"
                                (onEditorCreated)="populateEditor($event,'createcomment','')"
                                [modules]="edit_area_config"></quill-editor>
                              <div id="error-createcomment-content" class="invalid-feedback">
                                {{error_createcomment_content}}</div>
                              <div id="error-createcomment-server" class="invalid-feedback">
                                {{error_createcomment_server}}</div>
                            </div>

                          </div>
                        </div>
                      </div>
                      <div class="card-footer card-footer-group">
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-12">
                                <div class="{{css_loading_createcomment}}">
                                    <div class="loader"></div>
                                    <div class="dimmer-content">
                                        <button id="btn-createcomment" (click)="onSubmit($event)" type="button"
                                        class="btn btn-purple float-right">
                                        Reply
                                      </button>
                                    </div>
                                  </div>                            
                            </div>
                          </div>
                        </div>

                      </div>
                


                </div>
              </div>
            </div>
            <!--  Comment Input Area End-->


          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Main Area end-->


  <!-- Modal Area-->
  <!-- Modal -->


  <!--Create Post Modal-->
  <div class="modal fade modal-wrap" id="create-post-modal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="col-12 modal-title modal-title-settings" id="exampleModalLongTitle">Post Creation
            <button id="createmodal-close" type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
          </h5>

        </div>
        <div class="modal-body">
          <form action="javascript:void(0);" action="post">
            <div class="container-fluid">

              <div class="{{css_loading_createpost}}">
                <div class="loader"></div>
                <div class="dimmer-content">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12">

                        <div class="form-group">
                          <label class="form-label">Subject
                            <span class="form-required">*</span>
                            <span id="creategroup-title-count"
                              class="form-label-small">{{createpost_subject_count}}</span>
                          </label>
                          <input id="createpost-subject" attr.maxlength="{{MAX_SUBJECT_LIMIT}}" class="form-control"
                            type="input" placeholder="Enter Post Subject"
                            (input)="onUpdateCreatePost($event,'createpost-subject')"
                            (keyup)="onUpdateCreatePost($event)" />
                          <div id="error-createpost-subject" class="invalid-feedback">{{error_createpost_subject}}</div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group">
                          <label class="form-label">Content
                            <span class="form-required">*</span>
                            <span id="creategroup-description-count"
                              class="form-label-small">{{createpost_content_count}}</span>
                          </label>
                          <!--<textarea attr.maxlength="{{MAX_CONTENT_LIMIT}}" id="createpost-content"
                                    (input)="onUpdateCreatePost($event)" (keyup)="onUpdateCreatePost($event)" class="form-control"
                                    name="post-content" style="resize: none;" rows="6"
                                    placeholder="Enter a short description for your post"></textarea>-->

                          <quill-editor [style]="{minHeight: '250px'}"
                            (onContentChanged)="onUpdateCreatePost($event,'createpost-content')"
                            (onEditorCreated)="populateEditor($event,'createpost','')" [modules]="edit_area_config">
                          </quill-editor>
                          <div id="error-createpost-content" class="invalid-feedback">{{error_createpost_content}}</div>
                          <div id="error-createpost-server" class="invalid-feedback">{{error_createpost_server}}</div>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <div class="{{css_loading_createpost}}">
            <div class="loader"></div>
            <div class="dimmer-content">
              <button type="button" class="btn btn-primary" (click)="onSubmit($event)" id="btn-createpost">Create
                Post</button>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>



  <!--Edit Post Modal-->
  <div class="modal fade" id="edit-post-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="col-12 modal-title modal-title-settings" id="exampleModalLongTitle">Make Changes To This Post
          <button id="editpostmodal-close" type="button" class="close" data-dismiss="modal"
            aria-label="Close"></button>
        </h5>

      </div>
      <div class="modal-body">
        <form action="javascript:void(0);" action="post">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                  <label class="form-label">Subject
                    <span class="form-required">*</span>
                  </label>
                  <input id="editpost_subject" class="form-control" type="input" name="group-name"
                    placeholder="Enter Post Subject" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                  <label class="form-label">Content
                    <span class="form-required">*</span>
                    <span id="creategroup-description-count"
                      class="form-label-small">{{editpost_content_count}}</span>
                  </label>

                  <quill-editor [style]="{minHeight: '250px'}"
                    (onContentChanged)="onUpdateEditPost($event,'editpost-content')"
                    (onEditorCreated)="populateEditor($event,'editpost','')" [modules]="edit_area_config">
                  </quill-editor>
                  <div id="error-editpost-content" class="invalid-feedback">{{error_editpost_content}}</div>
                  <div id="error-editpost-server" class="invalid-feedback">{{error_editpost_server}}</div>
                </div>


              </div>
            </div>

           
            <span class="hide-item" id="editpost-id" attr.data-postid=''>void</span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <div class="{{css_loading_editpost}}">
            <div class="loader"></div>
            <div class="dimmer-content">
              <button type="button" class="btn btn-primary" (click)="onSubmit($event)"
                id="btn-updatepost">Edit Post</button>
            </div>
          </div>
      </div>

     
    </div>
  </div>
</div>






 <!--Edit Comment Modal-->
 <div class="modal fade" id="edit-comment-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
 aria-hidden="true">
 <div class="modal-dialog modal-lg" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="col-12 modal-title modal-title-settings" id="exampleModalLongTitle">Make Changes To This Comment
         <button id="editcommentmodal-close" type="button" class="close" data-dismiss="modal"
           aria-label="Close"></button>
       </h5>

     </div>
     <div class="modal-body">
       <form action="javascript:void(0);" action="post">
         <div class="container-fluid">
      
           <div class="row">
             <div class="col-lg-12 col-md-12 col-sm-12">
               <div class="form-group">
                 <label class="form-label">Content
                   <span class="form-required">*</span>
                   <span id="creategroup-description-count"
                     class="form-label-small">{{editcomment_content_count}}</span>
                 </label>

                 <quill-editor [style]="{minHeight: '250px'}"
                   (onContentChanged)="onUpdateEditComment($event,'editcomment-content')"
                   (onEditorCreated)="populateEditor($event,'editcomment','')" [modules]="edit_area_config">
                 </quill-editor>
                 <div id="error-editcomment-content" class="invalid-feedback">{{error_editcomment_content}}</div>
                 <div id="error-editcomment-server" class="invalid-feedback">{{error_editcomment_server}}</div>
               </div>


             </div>
           </div>

          
           <span class="hide-item" id="editcomment-id" attr.data-commentid='' attr.data-postid=''>void</span>
         </div>
       </form>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       <div class="{{css_loading_editcomment}}">
           <div class="loader"></div>
           <div class="dimmer-content">
             <button type="button" class="btn btn-primary" (click)="onSubmit($event)"
               id="btn-updatecomment">Edit Comment</button>
           </div>
         </div>
     </div>

    
   </div>
 </div>
</div>




<!-- Delete Post  Modal-->
<div class="modal fade" id="delete-post-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <span class="hide-item" id = "delete-postid" attr.data-postid=''></span>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="col-12 modal-title modal-title-settings" id="exampleModalLongTitle">Are you sure?
        <button id="deletepostmodal-close" type="button" class="close" data-dismiss="modal"
          aria-label="Close"></button>
      </h4>
    </div>
    <div class="modal-body">
      <form action="javascript:void(0);" action="post">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 modal-title-settings">
              <h5> Do you really want to delete this post? This process cannot be undone.</h5>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 modal-title-settings">
              <div id="error-deletepost-server" class="invalid-feedback">{{error_deletepost_server}}</div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <div class="{{css_loading_deletepost}}">
          <div class="loader"></div>
          <div class="dimmer-content">
              <button type="button" class="btn btn-danger" (click) = "onSubmit($event)" id="btn-deletepost">Delete Post</button>
          </div>
        </div>    
    </div>
  </div>
</div>
</div>





<!-- Delete Comment  Modal-->
<div class="modal fade" id="delete-comment-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <span class="hide-item" id = "delete-commentid" attr.data-commentid=''></span>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="col-12 modal-title modal-title-settings" id="exampleModalLongTitle">Are you sure?
        <button id="deletecommentmodal-close" type="button" class="close" data-dismiss="modal"
          aria-label="Close"></button>
      </h4>
    </div>
    <div class="modal-body">
      <form action="javascript:void(0);" action="post">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 modal-title-settings">
              <h5> Do you really want to delete this comment? This process cannot be undone.</h5>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 modal-title-settings">
              <div id="error-deletecomment-server" class="invalid-feedback">{{error_deletecomment_server}}</div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <div class="{{css_loading_deletecomment}}">
          <div class="loader"></div>
          <div class="dimmer-content">
              <button type="button" class="btn btn-danger" (click) = "onSubmit($event)" id="btn-deletecomment">Delete Comment</button>
          </div>
        </div>    
    </div>
  </div>
</div>
</div>
  <!--Modal area end-->

</div>