

<div class="page">
  <div class="page-main">
    <!--Navigation bar-->
    <navbar></navbar>
    <!--Options area-->
    <subnavbar></subnavbar>


    <div class="my-3 my-mid-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-xl-4">
            <div class="card">
              <div class="card-status bg-blue"></div>
              <div class="card-header">
                <h3 class="card-title">This is a standard card</h3>
                <div class="card-options">
                  <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                </div>
              </div>
              <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
              </div>
              <div class="card-footer">
                <div class="container">
                  <div class="row">
                    <div class="col-mid-1 col-xl-1 offset-11">
                      <div class="item-action dropdown">
                        <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fe fe-more-horizontal"></i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-arrow-right-circle"></i> Enter </a>
                          <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-edit-2"></i> Edit  </a>
                          <div class="dropdown-divider"></div>
                          <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-trash-2"></i> Delete</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer-nav></footer-nav>
</div>
