

.card-options-settings{
    color:#495057 !important;
}

.card-content{
    min-height: 110px;
    padding-bottom: 20px;
}


.modal-title-settings{
    text-align: center;
    
}

.hide-item{
    display:none;
}