<div class="page">
  <div class="page-single">
    <div class="container">
      <div class="row">
        <div class="col col-login mx-auto">
          <div class="text-center mb-6">
            <img src="./demo/brand/tabler.svg" class="h-6" alt="">
          </div>


          <form class="card" action="javascript:void(0);" method="post">
            <div class="card-body p-6">
              <div class="card-title">Login to your account</div>



              <div class="form-group">
                <label class="form-label">Email address</label>
                <input name="userEmail" type="email" class="form-control" id="userEmail" aria-describedby="emailHelp" placeholder="Enter email" (keyup)="onUpdate($event)">
              </div>
              <div class="form-group">
                <label class="form-label">
                  Password
                  <a href="./forgot-password.html" class="float-right small">I forgot password</a>
                </label>
                <input name="userPassword" type="password" class="form-control" id="userPassword" placeholder="Password" (keyup)="onUpdate($event)">
              </div>
              <div class="form-group">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" />
                  <span class="custom-control-label">Remember me</span>
                </label>
              </div>

              <div class="{{css_loading}}">
                <div class="loader"></div>
                <div class="dimmer-content">
                  <div class="form-footer" (click)="onLogin()">
                    <button class="btn btn-primary btn-block">Sign in</button>
                  </div>
                </div>
              </div>

            </div>
          </form>
          <div class="text-center text-muted">
            Don't have account yet? <a routerLink="/register">Sign up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
