<div class="page">
    <div class="page-main">
        <!--Navigation bar-->
        <app-navbar></app-navbar>
        <!--Nav Options Area-->
        <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-lg">
                        <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                            <li class="nav-item">
                                <a href="#" class="nav-link"><i class="fe fe-home"></i> Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0);" class="nav-link" data-toggle="modal"
                                    data-target="#create-post-modal"><i class="fe fe-box"></i> Create Post</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-toggle="modal" data-target="#tba-modal"><i
                                        class="fe fe-check-square"></i>TBA</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 ml-auto">
                        <form class="input-icon my-3 my-lg-0">
                            <input type="search" class="form-control header-search" placeholder="Search &hellip;"
                                tabindex="1">
                            <div class="input-icon-addon">
                                <i class="fe fe-search"></i>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>

        <div class="my-3 my-mid-5">
            <div class="container">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-8">
                        <div class="card">
                            <div class="card-header">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Message">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-secondary">
                                            <i class="fe fe-camera"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-group card-list-group">
                                <li class="list-group-item py-5">
                                    <div class="media">
                                        <div class="media-object avatar avatar-md mr-4"
                                            style="background-image: url(demo/faces/male/16.jpg)"></div>
                                        <div class="media-body">
                                            <div class="media-heading">
                                                <small class="float-right text-muted">4 min</small>
                                                <h5>Peter Richards</h5>
                                            </div>
                                            <div>
                                                Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula
                                                porta felis euismod semper. Morbi leo risus, porta ac consectetur ac,
                                                vestibulum at eros. Cras
                                                justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id
                                                ligula porta felis euismod semper. Cum sociis natoque penatibus et
                                                magnis dis parturient montes,
                                                nascetur ridiculus mus.
                                            </div>
                                       
                                        </div>
                                    </div>
                                </li>
                               
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                        <div class="col-4"></div>
                        <div class="col-8">
                            <div class="card">
                                <div class="card-header">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Message">
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-secondary">
                                                <i class="fe fe-camera"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-group card-list-group">
                                    <li class="list-group-item py-5">
                                        <div class="media">
                                            <div class="media-object avatar avatar-md mr-4"
                                                style="background-image: url(demo/faces/male/16.jpg)"></div>
                                            <div class="media-body">
                                                <div class="media-heading">
                                                    <small class="float-right text-muted">4 min</small>
                                                    <h5>Peter Richards</h5>
                                                </div>
                                                <div>
                                                    Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula
                                                    porta felis euismod semper. Morbi leo risus, porta ac consectetur ac,
                                                    vestibulum at eros. Cras
                                                    justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id
                                                    ligula porta felis euismod semper. Cum sociis natoque penatibus et
                                                    magnis dis parturient montes,
                                                    nascetur ridiculus mus.
                                                </div>
                                                <ul class="media-list">
                                                    <li class="media mt-4">
                                                        <div class="media-object avatar mr-4"
                                                            style="background-image: url(demo/faces/female/17.jpg)"></div>
                                                        <div class="media-body">
                                                            <strong>Debra Beck: </strong>
                                                            Donec id elit non mi porta gravida at eget metus. Vivamus
                                                            sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                                                            Donec ullamcorper nulla non metus
                                                            auctor fringilla. Praesent commodo cursus magna, vel scelerisque
                                                            nisl consectetur et. Sed posuere consectetur est at lobortis.
                                                        </div>
                                                    </li>
                                                    <li class="media mt-4">
                                                        <div class="media-object avatar mr-4"
                                                            style="background-image: url(demo/faces/male/32.jpg)"></div>
                                                        <div class="media-body">
                                                            <strong>Jack Ruiz: </strong>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                                                            dapibus, tellus ac cursus commodo, tortor mauris condimentum
                                                            nibh, ut fermentum massa justo sit
                                                            amet risus.
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>