<div class="page">  
    <div class="page-main">
        <div class="nav-bar-attr">
            <app-navbar-home></app-navbar-home>
        </div>
    </div>

  <div >
    <header>
        <nav>
            
            
        </nav>
        <h1>The incredibly easy, completely free Q&A platform. 
            Save time and help students learn using the power of community</h1>
        <a routerLink="/register" href="#"class="btnOutline">Sign Up</a>
    </header>


    <div class="team">
        <h1> Concourse works with you. This powerful technology powers your classroom and lectures.
        </h1>

        <div class="members">
            <div class="person">
                <img src="/content/angular/assets/images/background_chat.png"/>
                <h3 class = "content-top-margin">Discussions</h3>
                <p>Chat like communication during and after lectures</p>
            </div>
            <div class="person">
                    <img src="/content/angular/assets/images/background_learn.png"/>
                    <h3 class="content-top-margin">Host Course Materials</h3>
                    <p> Improve and measure learning through coding excercises</p>
            </div>      
        </div>
    </div>


    <div class="about">
        <h1>The most inituitive way to mangage your lecture's Q&A, and it's free! </h1>
        <div class="icons">
            
        </div>

    </div>
    <div class="calltoaction">
        <h1> Sign Up Now</h1>
        <a routerLink="/register" href="#" class="btnFilled">Get Started</a>
    </div>
    
    <footer>
        <p>&copy; 2019 Concourse</p>
        <div class="footerpages">
            <a href="#">Home</a>
            <a href="#">Resources</a>
            <a href="#">Terms</a>
            <a href="#">Privacy</a>
        </div>
    </footer>
    
    </div>
</div>

