nav a span{
    background-color: #2B9DFF;
    padding: 5px 15px;
    border-radius: 1000px;
    font-weight: 100;
    color: white;
    margin-left: 7;
}

nav {
    text-align: right;
}

nav a {
    text-decoration: none;
    color: #495057;
    font-size: 19px;
    font-weight: 700;
}

nav a:first-child {
    float: left;
}
